<nav class="site-nav">
  <div class="wrap">
    <a href="/" class="{% if page.url == '/' %}active{% endif %}">Home</a>
    <a href="/why/" class="{% if page.url == '/why/' %}active{% endif %}">Why Appraisal?</a>
    <a href="/services/" class="{% if page.url == '/services/' %}active{% endif %}">Services</a>
    <a href="/testimonials/" class="{% if page.url == '/testimonials/' %}active{% endif %}">Testimonials</a>
    <a href="/portal/" class="{% if page.url == '/portal/' %}active{% endif %}">Contact</a>
  </div>
</nav>