<nav class="site-nav">
  <div class="wrap">
    <a href="/" class="{{ page.url == '/' ? 'active' : '' }}">Home</a>
    <a href="/why/" class="{{ page.url == '/why/' ? 'active' : '' }}">Why Appraisal?</a>
    <a href="/services/" class="{{ page.url == '/services/' ? 'active' : '' }}">Services</a>
    <a href="/testimonials/" class="{{ page.url == '/testimonials/' ? 'active' : '' }}">Testimonials</a>
    <a href="/portal/" class="{{ page.url == '/portal/' ? 'active' : '' }}">Contact</a>
  </div>
</nav>
